<div class="gallery">
    {% if include.gallery-id %}
        {% assign id = include.gallery-id %}
    {% else %}
        {% assign id = page.gallery-id %}
    {% endif %}
    {% for gallery in site.data.galleries %}
        {% if gallery.id == id %}
            {% for image in gallery.images %}
                <b>{{ image.alttext }}</b>
                <img src="{{ gallery.imagefolder | prepend: site.baseurl | replace: '//', '/' }}/{{ image.filename }}" alt="{{ image.alttext }}">
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
